# Ignore virtual environment
/venv/

# Ignore generated project metadata
/mlproject.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
/notebook/catboost_info/
# Ignore data files, models, and other large binary files
/data/
/models/
/artifacts/
# Ignore logs and temporary files
/logs/
/tmp/

# Ignore user-specific IDE and editor settings
.idea/
.vscode/
